@import "../../styles/mixins.scss";

.works {
  @include res("margin-top", 120px);
  @include media(576) {
    @include resa("margin-top", 64px);
  }
  &Title {
    font-weight: 700;
    text-align: center;
    color: #1e4870;
    @include res("margin-bottom", 16px);
    @include res("font-size", 64px);
    @include res("line-height", 62.72px);
    @include media(768) {
      @include resl("margin-bottom", 16px);
      @include resl("font-size", 42px);
      @include resl("line-height", 41.16px);
    }
    @include media(576) {
      @include resa("margin-bottom", 16px);
      @include resa("font-size", 42px);
      @include resa("line-height", 41.16px);
    }
  }

  &Text {
    font-weight: 600;
    text-align: center;
    color: #8e9fb9;
    margin: auto;
    @include res("margin-bottom", 48px);
    @include res("max-width", 800px);
    @include res("font-size", 21px);
    @include res("line-height", 30.24px);
    @include media(768) {
      @include resl("margin-bottom", 32px);
      @include resl("font-size", 13px);
      @include resl("line-height", 19.24px);
    }
    @include media(576) {
      max-width: 100%;
      @include resa("font-size", 15px);
      @include resa("line-height", 19.8px);
      @include resa("margin-bottom", 32px);
    }
  }
  &Slider {
    overflow: hidden;
    @include res("height", 460px);
    @include res("margin-top", 24px);
    @include media(768) {
      @include resl("height", 370px);
    }
    @include media(576) {
      @include resa("margin-top", 12px);
      @include resa("height", 275px);
    }
  }
  &Content {
    @include res("border-radius", 32px);
    overflow: hidden;
    position: relative;
    @include media(576) {
      @include resa("border-radius", 24px);
    }
    &Img {
      @include res("height", 440px);
      @include media(768) {
        @include resl("height", 350px);
      }
      @include media(576) {
        @include resa("height", 260px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &Top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      @include res("gap", 12px);
      @include res("padding", 24px);
      @include media(768) {
        @include resl("gap", 12px);
        @include resl("padding", 24px);
      }
      @include media(576) {
        @include resa("gap", 8px);
        @include resa("padding", 12px);
      }
    }
    &Info {
      font-family: Onest;
      font-weight: 500;
      text-align: left;
      border-color: #ffffffcc;
      background-color: #ffffff;
      border-style: solid;
      @include res("border-width", 1px);
      @include res("font-size", 15px);
      @include res("line-height", 20px);
      @include res("padding", 8px);
      @include res("padding-left", 16px);
      @include res("padding-right", 16px);
      @include res("border-radius", 40px);
      box-shadow: 0px 4px 12px 0px #0000001f;
      @include media(768) {
        @include resl("border-width", 1px);
        @include resl("font-size", 15px);
        @include resl("line-height", 20px);
        @include resl("padding", 8px);
        @include resl("padding-left", 16px);
        @include resl("padding-right", 16px);
        @include resl("border-radius", 40px);
      }
      @include media(576) {
        @include resa("border-width", 1px);
        @include resa("font-size", 15px);
        @include resa("line-height", 20px);
        @include resa("padding", 8px);
        @include resa("padding-left", 16px);
        @include resa("padding-right", 16px);
        @include resa("border-radius", 40px);
        box-shadow: 0px 4px 12px 0px #0000001f;
      }
      &.active {
        background-color: #152040;
        color: #ffffff;
        @include media(576) {
          background-color: #297fff;
        }
      }
    }
  }
}

.category {
  &List {
    display: flex;
    margin: auto;
    @include res("width", 1180px);

    @include res("gap", 12px);
    @include media(768) {
      @include resl("gap", 12px);
      @include resl("width", 768px);
      @include resl("padding-left", 64px);
      @include resl("padding-right", 64px);
      @include resl("padding-top", 3px);
      @include resl("padding-bottom ", 3px);
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @include media(576) {
      @include resa("gap", 8px);
      @include resa("width", 392px);
      @include resa("padding-left", 16px);
      @include resa("padding-right", 16px);
      @include resa("padding-top", 3px);
      @include resa("padding-bottom ", 3px);
    }
    &Item {
      font-family: "Onest";
      font-weight: 400;
      text-align: left;
      display: flex;
      align-items: center;
      color: #000000;
      justify-content: center;
      border-color: #8e9fb9;
      border-style: solid;
      cursor: pointer;
      @include res("border-width", 1px);
      @include res("gap", 10px);
      @include res("height", 46px);
      @include res("padding-left", 16px);
      @include res("padding-right", 16px);
      @include res("font-size", 17px);
      @include res("line-height", 21.68px);
      @include res("border-radius", 46px);
      text-transform: uppercase;
      @include media(768) {
        text-wrap: nowrap;
        width: fit-content;
        @include resl("border-width", 1px);
        @include resl("gap", 10px);
        @include resl("height", 40px);
        @include resl("padding-left", 16px);
        @include resl("padding-right", 16px);
        @include resl("font-size", 13px);
        @include resl("line-height", 16.68px);
        @include resl("border-radius", 46px);
      }
      @include media(576) {
        text-wrap: nowrap;
        width: fit-content;
        @include resa("border-width", 1px);
        @include resa("gap", 10px);
        @include resa("height", 38px);
        @include resa("padding-left", 16px);
        @include resa("padding-top", 2px);
        @include resa("padding-right", 16px);
        @include resa("font-size", 14px);
        @include resa("line-height", 17.85px);
        @include resa("border-radius", 46px);
        text-transform: none;
      }
      &.active {
        background-color: #14a800;
        border-color: #14a800;
        color: #ffffff;
      }
      h3 {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
      }
      svg {
        @include res("width", 24px);
        @include res("height", 24px);
        @include media(576) {
          @include resa("width", 24px);
          @include resa("height", 24px);
        }
      }
    }
  }
}
